form input{
    margin-bottom: 5px;
}

 a {
    font-family: "Lato", sans-serif;
    color: #4A90E2;
    text-decoration: none;
    transition-duration: 0.1s;
    font-size: 13px;
    padding: 3px;
}

a:hover {
    background-color: #4A90E2;
    color: white;
    border-radius: 3px;
    color: white;

}